body{
    background-color: green;
}

/* single line comment */


/* multiple
line 
comment */

p.a {
    font-family: "Times New Roman", Times, serif, color: "red";
  }
  
  p.b {
    font-family: Arial, Helvetica, sans-serif;
  }
